@import '../../Foundation/colors';

.RegisterPharmacyFirstFormContainer {
    display: flex;
    justify-content: center;
    &__form {
        display: flex;
        flex-wrap: wrap;
        direction: rtl;
        width: 60%;
        margin: 80px 0 50px 0;
        text-align: right;
        justify-content: center;
        &__error {
            height: 1rem;
            color: red;
            font-size: 14px;
        }
        &__fullName {
            display: flex;
            flex-direction: column;
            margin: .5rem 0 0 16px;
            &__label {
                font-size: 13px;
            }
            &__input {
                border-radius: 10px;
                border: 1px solid $separator-color;
                width: 352px;
                height: 46px;

                height: 2.5rem;
            }
            &__input:focus {
                border: 1px solid $blue-color;
                outline: none;
            }
        }
        &__medicId {
            display: flex;
            flex-direction: column;
            margin: .5rem 0 0 0px;
            &__label {
                font-size: 13px;
                &__span {
                    color : $blue-color;
                }
            }
            &__input {
                border-radius: 10px;
                border: 1px solid $separator-color;
                width: 352px;
                height: 46px;

                height: 2.5rem;
            }
            &__input:focus {
                border: 1px solid $blue-color;
                outline: none;
            }
        }
        &__placeName {
            display: flex;
            flex-direction: column;
            margin: .5rem 0 0 16px;
            &__label {
                font-size: 13px;
            }
            &__input {
                border-radius: 10px;
                border: 1px solid $separator-color;
                width: 352px;
                height: 46px;
            }
            &__input:focus {
                border: 1px solid $blue-color;
                outline: none;
            }
        }
        &__placePhone {
            display: flex;
            flex-direction: column;
            margin: .5rem 0 0 0px;
            &__label {
                font-size: 13px;
            }
            &__input {
                border-radius: 10px;
                border: 1px solid $separator-color;
                width: 352px;
                height: 46px;
            }
            &__input:focus {
                border: 1px solid $blue-color;
                outline: none;
            }
        }
        &__city {
            display: flex;
            flex-direction: column;
            margin: .5rem 0 0 16px;
            &__label {
                font-size: 13px;
            }
            &__input {
                border-radius: 10px;
                border: 1px solid $separator-color;
                width: 352px;
                height: 46px;
            }
            &__input:focus {
                border: 1px solid $blue-color;
                outline: none;
            }
        }
        &__district {
            display: flex;
            flex-direction: column;
            margin: .5rem 0 0 0px;
            &__label {
                font-size: 13px;
            }
            &__input {
                border-radius: 10px;
                border: 1px solid $separator-color;
                width: 352px;
                height: 46px;
            }
            &__input:focus {
                border: 1px solid $blue-color;
                outline: none;
            }
        }
        &__fullAddress {
            display: flex;
            flex-direction: column;
            margin: .5rem 0;
            &__label {
                font-size: 13px;
            }
            &__input {
                border-radius: 10px;
                border: 1px solid $separator-color;
                width: 720px;
                height: 46px;
            }
            &__input:focus {
                border: 1px solid $blue-color;
                outline: none;
            }
        }
        &__timeSection {
            display: flex;
            flex-direction: row;
        }
        &__boarding {
            display: flex;
            flex-direction: column;
            margin: 0 0 0 150px;
            direction: ltr;
            &__label {
                font-size: 16px;
                padding: 0 5px 0 0;
                margin: 0;
            }
            &__select {
                display: flex;
            }
            &__true {
                border: 1px solid $separator-color;
                font-size: 14px;
                border-radius: 10px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-evenly;
                align-items: center;
                margin: .5rem;
                direction: rtl;
                width: 100px;
                height: 40px;
                &__label {
                    margin: 0 !important;
                }
            }
            &__true-active {
                border: 1px solid $blue-color;
                font-size: 14px;
                color: $blue-color;
                border-radius: 10px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-evenly;
                align-items: center;
                direction: rtl;
                width: 100px;
                height: 40px;
            }
            &__false {
                border: 1px solid $separator-color;
                font-size: 14px;
                border-radius: 10px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-evenly;
                align-items: center;
                margin: .5rem 0 .5rem 0;
                direction: rtl;
                width: 100px;
                height: 40px;
                &__label {
                    margin: 0 !important;
                }
            }
            &__false-active {
                border: 1px solid $blue-color;
                font-size: 14px;
                color: $blue-color;
                border-radius: 10px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-evenly;
                align-items: center;
                direction: rtl;
                width: 100px;
                height: 40px;
            }
        }
        &__workTimeRange {
            display: flex;
            flex-direction: column;
            &__label {
                font-size: 13px;
            }
            &__fromInput {
                width: 168px;
                height: 46px;
                margin: 0 0 0 16px;
                border-radius: 10px;
                border: 1px solid $separator-color;

            }
            &__toInput {
                width: 168px;
                height: 46px;
                border-radius: 10px;
                border: 1px solid $separator-color;

            }
            &__fromInput:focus, &__toInput:focus {
                border: 1px solid $blue-color;
                outline: none;
            }
        }
        &__button {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin: 1rem 0;
        }
        &__nextButton {
            flex-direction: row-reverse;
            display: flex;
            &__button {
                width: 170px;
                height: 52px;
                color: white;
                background-color: $blue-color;
                border: none;
                cursor: pointer;
                font-size: 16px;
                border-radius: 8px;
                border: 1px solid $blue-color;
                margin: 0 272px 0 0;
                font-weight: bold;
            }
            &__button:focus {
                outline: none;
            }
        }
        &__uploadButton {
            flex-direction: row-reverse;
            display: flex;
            &__button {
                font-size: 14px;
            }
            &__button::-webkit-file-upload-button {
                visibility: hidden;
            }

            &__button::before {
                display: inline-flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                content: "آپلود عکس داروخانه";
                width: 170px;
                height: 52px;
                color: $blue-color;
                background-color: white;
                border: none;
                cursor: pointer;
                font-size: 14px;
                border-radius: 8px;
                border: 1px solid $blue-color;
                font-weight: bold;
            }
            &__button:focus {
                outline: none;
            }
        }

    }
}
.borderError,
.borderError:focus
{
    border: 1px solid red;
}