.bazarButtonContainer
{
    text-decoration: none;
}
.bazarButton {
    width: 180px;
    height: 55px;
    border: none;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    &__text {
        margin: 0;
    }
}
.bazarButton:focus {
    border: none;
    outline: none;
}
