@import '../../Foundation/colors';

// FAQ Questions :

.FAQQuestion {
    direction: rtl;
    cursor: pointer;
    
    &-Title {
        padding: 1.5rem 0;
        display: flex;
        align-items: center;
        color: $epiBlue-color;
        &-MinesIcon,
        &-PlusIcon {
            font-size: 1.2rem;
            margin-left: 1.5rem;
        }
    }
    &-Texts {
        padding-bottom: 1rem;
        margin-right: 2rem;
        &-Text {
            color: $gray-textColor;
            border-right: 4px solid $green-color;
            padding-right: 2rem;
        }
    }
    &-Line {
        height: 1px;
        width: 100%;
        background-color: $cloudy-color;
    }
    &-List {
        margin: 80px 170px 140px 0;
        text-align: right;
    }
}

// Responsive :