
// Responsive Mode :

@media(min-width:1450px) and (max-width:2000px) {
    
    .logo {
        padding: 0px 110px 34px 0px;
    }
    .navbarNavigation {
        padding: 15px 0px 0px 13rem;
    }
    .navbarButton {
        margin: 0px 0px 37px 8rem;
    }
}

// ------------------------------------------- // 

@media(min-width:1250px) and (max-width:1450px) {
    
    .logo {
        padding: 0px 5rem 34px 0px;
    }
    .navbarNavigation {
        padding: 15px 0px 0px 7rem;
    }
    .navbarButton {
        margin: 0px 0px 37px 90px;
    }
}

// ------------------------------------------- // 

@media(min-width:1000px) and (max-width:1250px) {

    .logo {
        padding: 0px 4rem 34px 0px;
    }
    .navbarNavigation {
        padding: 15px 0px 0px 4.5rem;
    }
    
    .navbarNavigationItems {
        padding: 0px 15px;
    }
    .navbarButton {
        margin: 0px 0px 37px 2.5rem;
    }
}

// ------------------------------------------- // 

@media(min-width:500px) and (max-width:1000px) {

    .logo {
        padding: 0px 20px 34px 0px;
    }
}

// ------------------------------------------- // 

@media(min-width:360px) and (max-width:500px) {

    .logo {
        padding: 0px 5px 34px 0px;
    }
}

// ------------------------------------------- // 

@media(min-width:280px) and (max-width:360px) {

    .logo {
        padding: 0px 5px 34px 0px;
    }
    .navbarContent {
        font-size: 1rem;
    }
    .navbarNavigation {
        padding: 15px 0px 0px 1rem;
    }
    .navbarBurgerCross,
    .navbarBurgerBars {
        padding: 30px 0px 0px 5px;
    }
}

// ------------------------------------------- // 

@media(min-width:0px) and (max-width:280px) {

    .navbarContainer {
        display: flex;
        flex-flow: column;
        flex-direction: column-reverse;
        margin-top: 10rem;
    }
    .logo {
        padding: 0px 5px 34px 0px;
    }
    .navbarContent {
        font-size: 1rem;
        margin-top: 2rem;
    }
    .navbarNavigation {
        padding: 15px 0px 0px 1rem;
    }
    .navbarBurgerCross,
    .navbarBurgerBars {
        padding: 0px 0px 0px 5px;
    }
    .navbarNavigationItems {
        padding: 1rem 0rem 2rem 0;
    }
    .navbarButton {
        margin: 0 1rem 0 auto;
    }
}
