@import '../../Foundation/colors';

// Footer :

.footer {
    display: flex;
    flex-direction: row-reverse;
    place-content: space-evenly;
    text-align: right;
}
.footer-Main {
    align-self: auto;
    direction: rtl; 
}
.footer-Download {
    align-self: auto;
    direction: rtl;
    padding: 20px 0 0 0;    
}
.footer-Download-Title {
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: bold;
}
.footer-Download-Icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.footer-Services {
    align-self: auto;
    direction: rtl;
    padding: 20px 0 0 0;
}
.footer-Services-Title {
    font-size: 16px;
    font-weight: bold;
}
.footer-Services-Items {
    list-style: none;
}
.footer-Services-Items-Item {
    color: $black-textColor;
    cursor: pointer;
    color: #616161;
    font-size: 14px;
    height: 19px;
    margin: 30px 0;
}
.footer-Pages-Items-Item:hover,
.footer-Services-Items-Item:hover,
.item-Active {
    font-weight: bold;
    border-right: 4px solid $green-color;
    padding-right: .5rem;
    transition: .3s ease;
    border-radius: 2px;
    color: $epiBlue-color !important;
}
.footer-Pages {
    direction: rtl;
    align-self: auto;
    padding: 20px 0 0 0;
}
.footer-Pages-Items {
    list-style: none;
}
.footer-Pages-Title {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 0 92px;
}
.footer-Pages-Items-Item {
    color: #616161;
    cursor: pointer;
    font-size: 14px;
    height: 19px;
    margin: 30px 0;
}
.footer-Main-Copyright {
    direction: rtl;
    margin-bottom: 3rem;
    width: 256px;
    height: 53px;
    margin: 0 127px 0 0;
    font-size: 14px;
}
.footer-Main-Title{
    direction: rtl;
    font-size: 14px;
    font-weight: bold;
    padding: 0 127px 0 0;
}

.footer-Main-SocialNetwork {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
    padding: 0 127px 90px 0;
}
.footer-Main-SocialNetwork-Instagram,
.footer-Main-SocialNetwork-Twitter,
.footer-Main-SocialNetwork-Linkedin {
    font-size: 24px;
    height: auto;
    color: $black-textColor;
    cursor: pointer;
    margin: .5rem;
    padding:  30px 0 0 0 ;
}
.footer-Main-SocialNetwork-Instagram:hover,
.footer-Main-SocialNetwork-Twitter:hover,
.footer-Main-SocialNetwork-Linkedin:hover,
.socialNetwork-Active {
    color: $blue-color;
    transition: 0.4s;
}

@media screen and(max-width:1100px)
{
    .footer-Download {
        display: none;
    }
}
@media screen and(max-width:700px)
{
    .footer-Download,
    .footer-Pages,
    .footer-Services {
        display: none;
    }
    .footer .logo {
        justify-content: center;
        justify-items: center;
        text-align: right;
    }
    .footer,
    .footer-Main-Title,
    .footer-Main-Copyright,
    .footer-Main-SocialNetwork {
        justify-content: center;
        justify-items: center;
        text-align: center;
    }
}