@import '../../Foundation/colors';

//

.support {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: $blue-color;
    height: 130px;
    width: 100%;
    margin: 0 0 85px 0;
}
.support-Text {
    display: flex;
    gap: 1rem;
    direction: rtl;
    color: $white-color;
    padding: 50px 140px 52px 0;
    &-Body {
        margin: 0;
    }
    &-Title {
        margin: 0;
    }
}
.support-Button {
    display: flex;
    flex-direction: row;
    direction: rtl;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 52px;
    border-radius: 10px;
    border: none;
    background-color: $epiBlue-color;
    cursor: pointer;
    margin: 40px 0 40px 140px;
    &-Image {
        width: 24px;
        height: 26.2px;
    }
}
.support-Button-Text {
    margin: 0;
}
.support-Button-Text-a,
.support-Button-Text-a:hover {
    color: $white-color;
    text-decoration: none;
    margin-right: 1rem;
}
.support-Button:focus {
    outline: none;
}
.support-Button-Image {
    width: 24px;
}
@media screen and (max-width: 700px) {
    .support {
        flex-direction: column;
        text-align: center;
        height: 150px;
    }
    .support-Text {
        flex-direction: column;
        justify-items: center;
    }
    .support-Button {
        margin-top: 1rem;
    }
}