@import '../../Foundation/colors';

// Contact US :

.contactUs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.message {
    flex: .5;
    text-align: right;
    padding: 0 0 130px 0;
    &-Form {
        display: flex;
        flex-direction: column;
        direction: rtl;
        padding: 165px 0 0 0;
        &-Label {
            height: 16px;
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
        }
        &-Input {
            width: 444px;
            height: 46px;
            margin: 0 0 25px;
            padding: 13px 10px 12px 309px;
            border-radius: 10px;
            border: solid 1px $separator-color;
            &:focus {
                border: 2px solid $blue-color;
                outline: none;
            }
            &::placeholder {
                color: #c7c7c7;
            }
        }
        &-Textarea {
            width: 444px;
            height: 174px;
            margin: 12px 0 0;
            padding: 13px 0px 142px 264px;
            border-radius: 10px;
            border: solid 1px $separator-color;
            &::placeholder {
                color: #c7c7c7;
            }
            &:focus {
                border: 2px solid $blue-color;
                outline: none;
            }
        }
        &-Button {
            width: 444px;
            height: 52px;
            margin: 36.5px 0 0 50.5px;
            padding: 14.5px 191px 15.5px 187px;
            border-radius: 8px;
            border: solid 1px $blue-color;
            background-color: $white-color;
            &-Text {
                width: 66px;
                height: 22px;
                color: $blue-color;
                font-weight: bold;
                font-size: 16px;
            }
        }
    }
}

// Responsive :