@import '../../Foundation/colors';

// Footer :

.aboutUsServices {
    margin: 100px 140px;
    text-align: -webkit-right;
    &__title {
        direction: rtl;
        color: $epiBlue-color;
        border-right: 4px solid $green-color;
        color: #2361B5;
        padding-right: 30px;
        height: 27px;
        font-size: 20px;
        font-weight: bold;
    }
    &__description {
        direction: rtl;
        margin: 23px 0 60px 0;
        height: 21px;
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__card {
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            width: 443px;
            height: 500px;
            border-radius: 50px;
            box-shadow: 0 0 50px 0 rgba(24, 148, 255, 0.1);
            background-color: #ffffff;
            &__img {
                display: flex;
                justify-content: center;
                margin: 2.3rem auto;
                width: 150px;
                height: 150px;
                width: 138.5px;
                height: 160.6px;
                object-fit: contain;
            }
            &__title {
                color: $epiBlue-color;
                direction: rtl;
                height: 27px;
                padding: 20px 0 0 0;
                font-size: 20px;
                font-weight: bold;
            }
            &__description {
                direction: rtl;
                width: 401px;
                height: 60px;
                padding: 25px 0 0 0;
                font-size: 14px;
                font-weight: 300;
            }
            &__button {
                background-color: $blue-color;
                color: $white-color;
                font-weight: bold;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                align-self: center;
                width: 170px;
                height: 52px;
                margin: 35px 115px 0 116px;
                padding: 14px 61px 17px 
            }
            &__button:focus {
                outline: none;
            }
        }
    }
}